{% extends "base.html" %}
{% load crispy_forms_tags  %}
{% block body_block %}
<div class="container">
    <h4 class="text-uppercase text-center mt-3 mb-3">ATTENDANCE ENTRIES</h4>
    <div class="bg-dark p-3 rounded pb-1">
        <div style="overflow-x: auto;">

            <table class="table table-dark table-striped-columns">
                <thead>
                    <th>#</th>
                    <th>NAME</th>
                    <th>DOB</th>
                    <th>PHONE</th>
                    <th>LOGIN</th>
                    <th>LOCATION</th>
                    <th>IMAGE</th>
                </thead>
                <tbody>
                    {% for i in reg %}
                    <tr>
                        <td>
                            <p>{{ forloop.counter }}</p>
                        </td>
                        <td>
                            <p>{{ i.user.username|capfirst }}</p>
                        </td>
                        <td>
                            <p>{{ i.user.dob|date:'d/m/Y' }}</p>
                        </td>
                        <td>
                            <p>{{ i.user.phone }}</p>
                        </td>
                        <td>
                            <p>{{ i.created_at|date:'d/m/Y' }}</p>
                        </td>
                        <td>
                            <textarea class="form-control bg-dark text-light" name="" id="" readonly>{{ i.location }}</textarea>
                        </td>
                        <td class="text-center">
                            <img width="100px" src="{{ i.person_image.url }}" alt="">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<br><br><br>
<script>
    $(document).ready(function(){
        $('#entries').addClass('active fw-bold');
    })
</script>
{% endblock %}